* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Noto Sans TC; */
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17px;
}

h3 {
  font-size: 1.17em !important;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.active {
  background-color: #1da57a !important;
  border-radius: 3px;
}

.icon-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 70%;
}
